
/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


/*====== Variables ======*/
:root {
  --dark-blue: #03264C;
  --light-blue: #1259c3;
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --base-font-family: 'Roboto', sans-serif
}



/*====== Basics ======*/
* {
    box-sizing: border-box;
  }
  
  html,
  body {
    min-height: 100vh;
    margin: 0;
    font-size: 10px;
    background-image: url(https://picsum.photos/1920/1080?grayscale&random=1);
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  body {
    font-family: var(--base-font-family);
    font-weight: 300;
    background-color: var(--light-gray);
  }
  
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  
  figure {
    margin: 0;
    padding: 0;
  }
  
  img {
    width: 100%;
  }
  
  input,
  textarea {
    font-family: inherit;
  }
  
  hr {
    border: none;
    border-bottom: solid 1px var(--light-gray);

  }

  /*====== NavBar ======*/
  .navbar{
    flex-wrap: wrap;
    background-color:var(--light-gray);
    width: 100%;
  }
  .navbar-logo{
    height: 50px; 
    width: 125px
  }


  
  
  /*====== Products ======*/
  .products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .products-title {
    font-size: 2.4em;
    font-weight: 400;
    color: red;
  }
  
  .product-box {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
  }
  
  .product-box a {
    display: block;
    text-decoration: none;
  }
  
  .product-box_image {
    border-bottom: 1px solid var(--light-gray);
  }
  
  .product-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .product-box_data h2 {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0;
  }
  
  .product-box_data span {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--green);
    margin: 0 0 0 10px;
  }
  
  .product-box_data p {
    font-size: 1.5em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
  }
  
  
  .product-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    
  }
  
  .product-box:hover p {
    height: 40px;
    margin-top: 15px;
  }
  
  
  
  /*====== Product Detail ======*/
  .product-detail {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .product-detail-img {
    width: 70%;
    display: block;
    margin: auto;
  }
  
  .product-detail-info {
    border-left: 1px solid var(--light-gray);
    padding: 15px;
    height: 100%;
  }
  
  .product-detail-title {
    font-weight: 400;
    font-size: 2.8em;
  }
  
  .product-detail-description {
    padding: 15px;
    font-size: 1.8em;
    line-height: 1.5;
  }
  
  .product-detail-price {
    font-size: 5.5em;
    margin: 10px 0;
  }
  
  .small {
    font-size: 1.8em;
    color: var(--green);
  }
  
  .small span {
    text-decoration: line-through;
  }
  
  .actions-list {
    margin-bottom: 50px;
  }
  
  .actions-list li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px 0;
  }
  
  .actions-list i {
    color: var(--green);
    font-size: 2em;
    margin-right: 15px;
  }
  
  .actions-list p {
    color: var(--gray);
    font-size: 1.7em;
    margin: 0;
  }
  
  .btn btn-outline-dark {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  

 /*====== Footer ======*/
  .contenedor-padre{
    display: flex;
    background-color:var(--light-gray);
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.mapa{
    width:400px;
    height:auto;
}
.texto-design{
    width: 25%;
    color: var(--dark-blue);
    padding-left: 10px;
    text-decoration: none;
    
}
.texto-design a{
  color: var(--dark-blue);
  padding: 10px;
  text-decoration: none;
  
}
.contacto{
    width: 25%;
    color: var(--dark-blue);
}
.contacto ul li{
    list-style-type: none;
    padding-bottom: 10px;
    padding-right: 30px;
    text-align: center;
}
.contacto a{
    text-decoration: none;
    color: var(--dark-blue)
    
}